{% extends 'base.html' %}
{% load static %}

{% block base_title %} {{ month | title  }} Challenge {% endblock %}
{% block base_css %}
<link rel="stylesheet" href="{% static 'challenges/challenges.css' %}">
<link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock base_css %}
{% block base_body %}
{% include './includes/includes.html' %}
    <h1>{{ month | title }} Challenge</h1>
    {% if text is not None %}
    <h2>{{text}}</h2>
    {% else %}
    <h2>Month Unavailable</h2>
    {% endif %}

    {% endblock  %}